/* color scheme from https://www.nordtheme.com */

:root {
  --font: "Inconsolata", sans-serif;
  font-size: 16px;
}

body[data-lights="on"] {
  --bg: #eceff4;
  --color: #17252a;
  --hl-color: #5e81ac;
}

body[data-lights="off"] {
  --bg: #2e3440;
  --color: #eceff4;
  --hl-color: #88c0d0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  width: 90%;
  margin: auto;

  background-color: var(--bg);
  font-family: var(--font);
  color: var(--color);
}

#main {
  flex: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}

nav ul {
  display: flex;

  /* reset default styling */
  list-style: none;
  padding-inline-start: 0;

}

nav ul li {
  padding-right: 1.5rem;
}

#logo::after {
  content: " ";
  width: 50px;
  height: 2px;
  background: var(--hl-color);
  display: block;
  margin-top: 5px;
}

#welcome {
  margin-top: 50px;
  font-weight: bold;
}

a {
  color: var(--color);
  text-decoration: none;
}

a:hover {
  color: var(--hl-color);
  text-decoration: underline;
}

a.active {
  color: var(--hl-color);
}

@media (min-width: 376px) {
  body {
    width: 60%;
  }
}

footer {
  padding-bottom: 20px;
}

/* https://css-tricks.com/overriding-default-button-styles/ */
button {
  display: inline-block;
  border: 1px solid;
  padding: 0.5rem 1rem;
  margin: 0;
  text-decoration: none;
  background: var(--color);
  color: var(--bg);
  font-family: var(--font);
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: var(--bg);
  color: var(--color);
}

button:focus {
  outline: 1px dotted var(--color);
  outline-offset: -4px;
}
